---
- name: "Get Junos OS configuration"
  hosts: all
  gather_facts: no
  connection: netconf

  tasks:
    - name: Backup current switch config (junos)
      junipernetworks.junos.junos_config:
        backup: yes
        backup_options:
          dir_path: /var/tmp/backup
      register: backup_junos_location
        #when: ansible_network_os == 'junipernetworks.junos.junos'
      when: ansible_network_os == 'junos'

#------------------------------------------
# Validated working CLI
# ansible-playbook ansible_pb_juniper_show_version_2.yml -i /etc/ansible/inventory06.yml -l juniper_devices6
# 2/20/2026
# -----------------------------------------
