---
- name: "Load and commit configuration"
  hosts: all
  connection: netconf
  gather_facts: no

  tasks:

   - name: collect default set of facts and configuration
     junipernetworks.junos.junos_facts:
       gather_subset: config
     register: result
   #- debug:
   #    var: result
   
   - name: run show version on remote devices
     junipernetworks.junos.junos_command:
       commands: show version
     register: result
   - debug:
       var: result

   - name: run show config on remote devices
     junipernetworks.junos.junos_command:
       commands: show configuration
     register: result
   - debug:
       var: result

#------------------------------------------
# Validated working CLI
# ansible-playbook ansible_pb_juniper_vmx_show_config_show_version.yml -i /etc/ansible/inventory06.yml -l juniper_devices6
# 2/21/2026
# -----------------------------------------

