---
- name: Backup ArubaOS-CX Running Configuration
  hosts: all
  gather_facts: no
  connection: network_cli

  vars:
    date_time: "{{ lookup('pipe', 'date +%Y%m%d_%H%M') }}"
    date: "{{ lookup('pipe', 'date +%Y%m%d') }}"
    backup_dir: "/etc/ansible/backups/{{ date }}"

  tasks:
    - name: Create backup directory
      ansible.builtin.file:
        path: "{{ backup_dir }}"
        state: directory
        mode: "0755"

    - name: Fetch ArubaOS-CX running configuration
      ansible.netcommon.cli_command:
        command: "show running-config"
      register: aruba_cfg

    - name: Save running-config to local server
      ansible.builtin.copy:
        content: "{{ aruba_cfg.stdout }}\n"
        dest: "{{ backup_dir }}/{{ inventory_hostname }}_{{ date_time }}.cfg"
        mode: "0644"
